 :root {
 /* text colors */
 --tx-color:#212121;
 --accent-cl: #2196F3;
 --clarified-txt-cl: #757575;
 --secondary-txt-cl: #ffffff;
 /* background colors */
 --main-bg-cl: #ffffff;
 --secondary-bg-cl: #F5F4FA;
 --footer-bg-cl: #2F303A;
 }