.about-list {
        display: flex;
        margin-left: -30px;
        flex-basis: calc((100% - 120px)/4);
       
}
.about-list-item {
        margin-left: 30px;
        width: 270px;
       }
.about-title {
        font-weight: 700;
        line-height: 1.14;
        font-size: 14px;
        text-transform: uppercase;
        color: #212121;

}
.about-text {
        line-height: 1.71;  
        color: #757575;
        margin-top: 10px;
}
.about-list-blok{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}