.title {
                      
    width: 696px;
    height: 120px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-bg-cl);
                        
    }

    .subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        color: var(--tx-color);
        margin-bottom: 50px;
        text-align: center;
    }